*.log
*.rar
*.zip
.DS_Store
.env
.env.backup
.env.local
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/assets
/build
/node_modules
/public/build
/public/build.zip
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/testing/.gitignore
!/storage/framework/views/.gitignore
/storage/pail
/tmp_build
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
